{% extends 'base.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block body %}
    <h1>Gallery</h1>
    <ul>
        <li>Category listing</li>
        <li>Search box to search in item descriptions</li>
        <li><a href="{{ path('admin_home') }}">Admin login page</a></li>
    </ul>
{% endblock %}
