{% extends 'content_base.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block content_body %}
    <h1>Image Gallery</h1>
    <ul>
        <li>Category listing</li>
    </ul>
{% endblock %}
