/* Elements */
html {
    background-color: rgb(248, 249, 250);
}
h1 {
    font-size: 2.5rem;
    margin-top: 1rem;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.2rem;
}
h5 {
    font-size: 1.1rem;
}
img{
    white-space:pre
}
img[alt] {
    font-size: .7rem;
}

.alert-success, .alert-danger, .alert-info {
    margin-top: 1rem;
}

.fa-pencil::before {
    content: "\f303";
}
.fa-trash::before {
    content: "\f2ed";
}
.fa-upload::before {
    content: "\f093";
}
.fa-spinner::before {
    content: "\f110";
}

/* Navbar */
.navbar-brand {
    font-weight: 600;
    line-height: 1rem;
    margin-top: 1rem;
}

/* Body */
a.newbutton {
    margin-top: 1.5rem;
}
article p, .card-text {
    font-size: .9rem;
}
article.intro {
    max-width: 40rem;
    text-align: justify;
}
.card-image-link {
    padding: 0;
}
html body main.container section.row div.col-sm-12 {
    text-align: center;
}
picture a img.img-thumbnail {
    margin: .2rem .1rem;
    padding: 0;
}
/* Footer */
footer {
    clear: both;
    text-align: left;
    background-color: rgb(248, 249, 250);
    height: 100px;
}
footer div {
    text-align: center;
    font-size: small;
}
footer p {
    position: relative;
    top: 1rem;
}

/* Forms: 'New image' and 'Edit properties' */
.edit-image {
    padding-bottom: 3rem;
}
.custom-file {
    margin-top: 1rem;
}
.form-check {
    background-color: #F8F9FA;
    border-radius: .15rem;
    display: inline-block;
    margin-right: .7rem;
    margin-top: .3rem;
    overflow: auto;
    padding: .3rem .7rem .2rem 2rem;
}
.form-check-label {
    bottom: .1rem;
    margin-bottom: 0;
    position: relative;
}
button {
    margin-top: 1rem;
}
button.close {
    margin: 0;
}
/* Media Queries */
@media (min-width: 992px) {
    /* Navbar */
nav.navbar {
    padding-left: 5rem;
}
#navbarSupportedContent {
    padding-left: 5rem;
}
}
