{% extends 'content_base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block content_body %}
    <h1>{{ title }}</h1>
    <a href="{{ path('app_homepage') }}">Gallery public site</a><br>
    <a href="{{ path('admin_manage_files') }}">Manage files</a><br>
    <a href="#">Manage users</a><br>

{% endblock %}