{% extends 'base.html.twig' %}

{% block main %}
    <main class="container">
        {{ include('flash.html.twig') }}
        <section class="row">
            <div {% block content_body_class %}class="col-sm-12"{% endblock %}>
                {% block content_body %}{% endblock %}
            </div>
        </section>
    </main>
{% endblock %}